/.venv
/chats.json
/my_account.session
my_account.session-journal
exe_json_settings.json
79676514880.session
__pycache__/core.cpython-311.pyc
settings.txt
79676514880.session-journal
settings.txt
Telegram Spamer 0.9.zip